html,
body,
* {
  /* This stuff should be here by default */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally font size is 16px but we want 10px so we do 62.5% */

  background-color: black;
}

.header-1 {
  margin-top: 10rem;
  font-size: 10rem;
  color: white;
  text-align: center;
}

.parent {
  display: flex;
  justify-content: space-evenly;
  /* align-items: flex-start; */
  flex-flow: row wrap;
}

.test-1 {
  font-size: 4rem;
  color: white;
  width: 28%;
  border-color: white;
  border-style: solid;
  border-width: 0.5rem;
  text-align: center;
  margin-top: 10rem;
  padding-bottom: 10rem;
  padding-top: 2rem;
}

.header-2 {
  font-size: 4rem;
  color: lightblue;
  margin-bottom: 4rem;
}

.img-1 {
  height: auto;
  width: 85%;
  position: relative;
}

.text-1 {
  font-size: 2rem;
  position: relative;
  top: 2rem;
}
